{% if current_user.is_authenticated %}
<span class="checked box w3-tooltip" hx-delete="{{url_for('signoffs.sign', scout_id=scout.id, code=requirement.code, signer_id=1, date='Today')}}" hx-swap="outerHTML">✔<span class="w3-text">{{ scout.get_signoff(requirement.code).date }}</span></span>
{% else %}
<span class="checked box w3-tooltip">✔<span class="w3-text">{{ scout.get_signoff(requirement.code).date }}</span></span>
{% endif %}
