{% if current_user.is_authenticated %}
<span class="unchecked box" hx-post="{{url_for('signoffs.sign', scout_id=scout.id, code=requirement.code, signer_id=1, date='Today')}}" hx-swap="outerHTML">◻</span>
{% else %}
<span class="unchecked box">◻</span>
{% endif %}
