    {% for patrol in displayed.patrols %}
    <div>
    <table>
        <tr>
            <th><br></th>
            <th><br></th>
            <th><br></th>
            <th colspan={{ patrol.members | count }}><a href="{{ url_for("patrols.by_name", name = patrol.name)}}">{{patrol.name}}</a></th>
        </tr>
        <tr>
            <th>Merit Badge</th>
            <th>Requirement</th>
            {% for scout in displayed.scouts if scout in patrol %}
            <td><a href="{{ url_for("scouts.by_id", id=scout.id)}}">{{scout.display_name}}</a></td>
            {% endfor %}
            <th>Requirement</th>
            <th>&nbsp;</th>
        </tr>
        {% for requirement in displayed.requirements %}
        <tr>
            <td>{{ requirement.badge.name }}</td>
            <td>{{ requirement.shortcode }}</td>
            {% for scout in displayed.scouts if scout in patrol %}
            <td>{% if scout.get_mb_signoff(requirement.code).date %}
                {% include "check_boxes/checked.html" %}
                {% else %}
                {% include "check_boxes/unchecked.html" %}
                {% endif %}
            </td>
            {% endfor %}
            <td>{% include "merit_badges/requirement.html" %}</td>
            <td class="delete-x" hx-delete="{{ url_for('merit_badges.delete_row')}}" hx-target="closest tr" hx-swap="delete">❌</td>
        {% endfor %}
        </tr>
    </table>
    </div>
    {% endfor %}
