<table>
    <tr>
        <th>Merit Badge</th>
        <th>Code</th>
        <th>Requirement</th>
        <th colspan={{displayed.scouts|count}}>All Scouts Page</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td><br></td>
        <td><br></td>
        <td><br></td>
        {% for scout in displayed.scouts %}
        <td><a href="{{ url_for("scouts.by_id", id=scout.id)}}">{{scout.display_name}}</a></td>
        {% endfor %}
    </tr>
    {% for requirement in displayed.requirements %}
    <tr>
        <td>{{ requirement.badge_name }}</td>
        <td>{{ requirement.shortcode }}</td>
        <td>{% include "merit_badges/requirement.html" %}</td>
        {% for scout in displayed.scouts %}
        <td>{% if scout.get_mb_signoff(requirement.code).date %}
            {% include "check_boxes/checked.html" %}
            {% else %}
            {% include "check_boxes/unchecked.html" %}
            {% endif %}
        </td>
        {% endfor %}
        <td class="delete-x" hx-delete="{{ url_for('merit_badges.delete_row')}}" hx-target="closest tr" hx-swap="delete">❌</td>
    {% endfor %}
    </tr>
</table>
