<label for="presets">Preset</label><br>
<select name="presets" id="presets" multiple size="10">
{% for preset in options.presets %}
<option value="{{ preset.name }}" 
    {% if preset.name in selected.presets %} selected {% endif %}>
{{ preset.name }}
</option>
{% endfor %}
</select>

