<label for="ranks">Rank Requirement</label><br>
<select name="ranks" id="ranks" hx-get="{{url_for('advancement.requirement_selector')}}" hx-target="#requirements" multiple size="10">
{% for rank in options.ranks %}
<option value="{{ rank.name }}" 
    {% if rank.name in selected.ranks %}selected{% endif %}>
{{ rank.name }}
</option>
{% endfor %}
</select>

