<label for="scouts">Scout Name</label><br>
<select name="scouts" id="scouts" multiple size="10">
{% for scout in options.scouts %}
<option value="{{ scout.id}}"
        {%- if scout.name in selected.scouts -%} selected {% endif %}>
{{scout.display_name}}
</option>
{% endfor %}
</select>
