{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <table hx-target="this" hx-swap="outerHTML">
        <tr>
            <td>Name</td>
            <td>{{ current_user.name }}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ current_user.username }}</td>
        </tr>
        {% if current_user.patrol %}
        <tr>
            <td>Patrol</td>
            <td>{{ current_user.patrol }}</td>
        </tr>
        {% endif %}
        {% if current_user.current_rank_name %}
        <tr>
            <td>Current Rank</td>
            <td>{{ current_user.current_rank_name }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>email</td>
            <td>{{ current_user.email }}</td>
        </tr>
        {% for role in current_user.roles %}
        <tr>
            <td>role</td>
            <td>{{ role.name }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>type</td>
            <td>{{ user.type }}</td>
        </tr>
        {% for child in current_user.children %}
        <tr>
            <td>Child</td>
            <td>{{ child.name }}</td>
        </tr>
        {% endfor %}
        {% for parent in current_user.parents %}
        <tr>
            <td>Parent</td>
            <td>{{ parent.name }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><button hx-get="{{ url_for('users.edit_user_form', user_id=current_user.id) }}">Edit Data</td>
            <td><br></td>
        </tr>

    </table>
                
{% endblock %}

