{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block content %}
    <p hx-put={{url_for("groups.add")}} hx-prompt="Enter group name: ">ADD GROUP</p>
    <table>
    {% for group in groups %}
    <tr><td>{{ group.name }}</td>
        <td hx-patch={{url_for("groups.edit", group_name=group.name)}} hx-target="closest body">EDIT</td>
        <td hx-post={{url_for("groups.clone", group_name=group.name)}} hx-target="closest body" hx-prompt="Enter new group name: ">CLONE</td>
        <td hx-delete={{url_for("groups.delete", group_name=group.name)}} hx-confirm="Are you sure you want to delete {{group.name}}" hx-target="closest tr" hx-swap="innerHTML">DELETE</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}


