{% extends 'base.html' %}
{% block title %}{{scout.display_name}}{% endblock %}
{% block content %}
    <div class="search-bar" id="scout-info">
	    <h2>{{scout.display_name}}</h2>
	    <p>{{scout.patrol}} - {{scout.current_rank.name}} - 
        {% if scout.get_rank_date(scout.current_rank) %}
        {{scout.get_rank_date(scout.current_rank)}}
        {% else %}
        N/A
        {% endif %}</p>
    </div>
    <div id="scout-requirements">
	    <table id="requirements">
	    {% for rank in ranks[1:5] %}
            <tr><td colspan=3>{{rank.name}}</td></tr>
            {% if scout.has_earned(rank) %}
                <td>
                {% if scout.get_rank_date(rank) %}
                {{scout.get_rank_date(rank)}}
                {% else %}
                N/A
                {% endif %}
                </td>
            {% else %}
                {% for item in scout.signoffs_for_rank(rank) %}
                    <tr><td>{{item.shortcode}}</td><td>{{item.requirement.text}}</td><td>{{item.date}}</td></tr>
                {% endfor %}
            {% endif %}
	    {% endfor %}
	    </table>
    </div>
{% endblock %}


