<form action="{{url_for('announcements.add')}}" method="POST">
    <p><label for="announcement-title">Title</label>
    <input type="text" id="announcement-title" name="announcement-title" placeholder="Title">
    </p>
    <p><label for="announcement-text">Announcement:</label></p>
    <p>
    <textarea id="announcement-text" name="announcement_text" rows="10" cols="50" placeholder="Announcement Text">
Announcement Text
    </textarea>
    </p>
    <p><label for="start-date">Start Date:</label>
    <input type="date" id="start-date" name="start-date">
    </p>
    <p><label for="end-date">End Date:</label>
    <input type="date" id="end-date" name="end-date">
    </p>
    <p>
    <input type="submit">
    </p>
</form>
