<div class="w3-card-4">

<header class="w3-container w3-light-grey">
    <h3>{{ announcement.title }}</h3>
</header>

<div class="w3-container">
    <p>On {{ announcement.start_date }}, {{ announcement.user.name }} said:</p>
    <p>{{ announcement.text }}</p>
    <p>Up until {{ announcement.end_date }}</p>
</div>

<a href="{{ url_for("announcement.edit", announcement.id) }}" class="w3-btn w3-block w3-green">Edit</a>
<button class="w3-button w3-block w3-dark-grey">Thanks!</button>



</div>
