{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow" />
    <title>{% block title %}{% endblock %}Troopmanager.org (Django Edition)</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>

<body>
    <nav>
        <div class="w3-dropdown-hover">
            <button class="w3-button"><h1>Scouts</h1></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button" href="{% url 'advancement' %}"><h2>Advancement</h2></a>
                <a class="w3-bar-item w3-button" href="{% url 'merit_badges' %}"><h2>Merit Badges</h2></a>

                <a class="w3-bar-item w3-button" href="{% url 'patrols' %}"><h2>Patrols</h2></a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <button class="w3-button">
                <a href="{% url 'users' %}">
                    <h1>Login</h1>
                </a>
            </button>
        </div>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>