{% extends 'base.html' %}

{% block title %}Review TM Data{% endblock %}

{% block content %}

<form action="{{ url_for('uploads.confirm_tm_upload')}}" method=post>
    <input type=submit name=confirm value=Yes>
    <input type=submit name=cancel value=No>
</form>

<div>
{% for item in data %}
    {{ item['name'] }} 
    {{ item['data'] | safe }}
{% endfor %}

</div>

    
{% endblock %}


